<template>
  <Layout>

    <!-- Learn how to use images here: https://gridsome.org/docs/images -->
    <!--<g-image alt="Example image" src="~/favicon.png" width="135" />-->

    <div><img src="/icomicsdb-logotype.svg" :alt="$static.metadata.siteName"></div>

  </Layout>
</template>

<static-query>
query {
  allCharacters {
    totalCount
  }
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
  metaInfo: {
    title: 'iComicsDB - The Internet Comics Database'
  }
}
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
