<template>
  <div class="layout">
    <!--<header class="header">
      &lt;!&ndash;<g-link to="/"><img src="/icomicsdb-logotype.svg" :alt="$static.metadata.siteName"></g-link>&ndash;&gt;
      &lt;!&ndash;<nav class="nav">
        <g-link class="nav__link" to="/">Home</g-link>
        <g-link class="nav__link" to="/about/">About</g-link>
      </nav>&ndash;&gt;
    </header>-->
    <slot />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style>
body, html {
  background-color: rgba(13,0,36,1);
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #1a1a1a;
  background: linear-gradient(0deg, rgba(13,0,36,1) 0%, rgba(51,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
